body, html {
  height: 100%;
  margin: 0;
  color: #777;
}

.img1, .img2 {
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.img1 {
  background-image: url("here.png");
  min-height: 100%;
}

.img2 {
  background-image: url("https://i.makeagif.com/media/1-03-2017/k0kFcu.gif");
  min-height: 100%;
}


.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;

}

.caption span.border {
  background-color: transparent;
  text-shadow: 1vw 1vw 2vw black;
  color: #fff;
  padding: 1vw;
  font-size: 3vw;
  letter-spacing: 1vw;
}

.caption span.lesser {
	font-size: 2vw;
	
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #111;
}

.seperator {
	color: #777;
	background-color:black;
	text-align:center;
	padding:50% 80px;
	text-align: justify;
}

.powerlevel {
	position: relative;
	width: 100%;
	top 50%;
}

p {
	font-size: 2vw;
	
}

d {
	font-size: 2vw;
}

d:hover{
	font-size: 3vw;
}

.navbar {
	z-index: 1000; 
	position: absolute;
	overflow: hidden;
	background-color: #333;
	position: fixed;
	top: 0;
	width: 100%;
}

.navbar a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 1vw 1.2vw;
	text-decoration: none;
	font-size: 3.2vw;
}

.navbar a:hover {
	background: #ddd;
	color: black;
}